@charset "utf-8";

body {
    font: normal 15px/1.5em 'Noto Sans KR', sans-serif;
    background-color: #fff;
}

#wrap {
    position: relative;
    width: 100%;
    min-width: 1400px;
}


/*------------------------------------------*/

#header {
    width: 100%;
    height: 100px;
    padding: 30px 50px;
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    z-index: 100;
/*    background-color: rgba(0, 0, 0, 0.01);*/
}

/*로고*/
#logo {
    float: left;
    height: 40px;
}

#logo a {
    font: 900 40px 'Exo', sans-serif;
    transition: all 0.2s;
    color: #fff;
    line-height: 40px;
    height: 40px;
    display: block;
}

#logo a:hover {
    color: #ed312f
}



/*-------------------gnb-------------------*/

#gnb {
    height: 40px;
    display: flex;
    float: right;
}

.gnb_list {
    float: left;
    margin-right: 50px;
}

.gnb_list li {
    display: inline-block;

}

.gnb_list a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    font-family: 'Exo', sans-serif;
    color: #fff;
    position: relative;
    text-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.gnb_list a::after{
    content: ""; display: block; width: 0%; height: 3px;
    background-color: #fff;
    position: absolute; left: 50%; bottom: 0px;
    transform: translateX(-50%);
    transition: all 0.2s;
}
.gnb_list li:hover a::after{width: 80%;}

/*account*/
#gnb .account_wrap {
    margin-top: 3px;
    float: left;
    
    position: relative;
}



#gnb .account_wrap > a {
    background-color: #3c3c3c;
    border-radius: 30px;
    width: 100px;
    height: 35px;
    display: block;
    font-size: 12px;
    font-family: 'Exo', sans-serif;
    color: #fff;
    line-height: 36px;
    text-align: center;
    transition: all 0.3s;
}

#gnb .account_wrap ul {
    display: none;
    padding: 5px 0;
}
#gnb .account_wrap ul li a{width: 100%;height: 50px; display: block; padding: 5px 0; line-height: 40px;
    position: relative;
    color: #999;
    font-size: 11px;
    transition: all 0.2s;
}

#gnb .account_wrap>a:hover {
    background-color: #ed312f;
}



#gnb .account_wrap ul li a::after{content: ""; display: block; width: 40px;height: 40px;
    background-color: #ccc;
    border-radius: 100%;
    position: absolute; right: 0;top: 5px;
    background-color: #676767;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 65%;
    transition: all 0.2s;
}
#gnb .account_wrap ul li a:hover{color: #ed312f; text-indent: 10px;}
#gnb .account_wrap ul li a:hover::after{background-color: #ed312f;}

#gnb .account_wrap ul li:nth-child(1) a::after{
    background-image: url(../images/login_w.png);
}
#gnb .account_wrap ul li:nth-child(2) a::after{
    background-image: url(../images/order_w.png);
}
#gnb .account_wrap ul li:nth-child(3) a::after{
    background-image: url(../images/cart_w.png);
    background-position: 6px 10px;
}
#gnb .account_wrap ul li:nth-child(4) a::after{
    background-image: url(../images/faq_w.png);
}


